alabaster==0.7.12
apptools==5.1.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
attrs==22.1.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
biothings-client==0.2.6
bleach==5.0.1
blessings==1.7
certifi==2022.9.24
chardet==4.0.0
commonmark==0.9.1
configobj==5.0.6
coverage==6.4.4
curtsies==0.3.5
cwcwidth==0.1.4
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
docutils==0.17.1
dssp-wsl==0.1.1
entrypoints==0.4
envisage==5.0.0
executing==1.0.0
fastjsonschema==2.16.1
fonttools==4.36.0
fvcore==0.1.3.post20210224
gemmi==0.5.6
greenlet==1.0.0
imagesize==1.4.1
importlib-metadata==4.12.0
importlib-resources==5.9.0
iopath==0.1.4
ipykernel==6.15.3
ipython==8.5.0
ipython-genutils==0.2.0
jaraco.classes==3.2.3
jedi==0.18.1
jeepney==0.6.0
Jinja2==3.1.2
joblib==1.0.1
jsonschema==4.16.0
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
keyring==23.11.0
kiwisolver==1.4.4
more-itertools==9.0.0
mrcfile==1.4.2
mygene==3.2.2
nbclient==0.6.8
nbconvert==7.0.0
nbformat==5.5.0
nbopen==0.6
nbsphinx==0.8.9
nest-asyncio==1.5.5
notebook==6.4.12
numpy
pandas==1.4.3
pandoc==2.2
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pkginfo==1.9.2
pkgutil_resolve_name==1.3.10
plumbum==1.7.2
ply==3.11
Pmw==2.0.1
portalocker==2.2.1
prometheus-client==0.14.1
prompt-toolkit==3.0.31
proshade==0.7.6.6
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
py3Dmol==0.9.1
pyface==7.3.0
Pygments==2.13.0
PyQt5==5.15.7
PyQt5-sip==12.11.0
pyrsistent==0.18.1
pyzmq==23.2.1
readme-renderer==37.3
requests-toolbelt==0.9.1
rfc3986==1.5.0
rich==12.6.0
scipy==1.6.1
seaborn==0.11.2
SecretStorage==3.3.1
Send2Trash==1.8.0
servalcat==0.2.116
sklearn==0.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==5.1.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.5.0
tabulate==0.8.9
termcolor==1.1.0
terminado==0.15.0
tinycss2==1.1.1
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
tornado==6.2
traitlets==5.4.0
traits==6.2.0
traitsui==7.1.1
wcwidth==0.2.5
webencodings==0.5.1
wsl==0.12
yacs==0.1.8
zipp==3.8.1
